/* Global */
body {
    width: 95%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#container {
    width: 100%;
    height: 100%;
    
}

/* .header {
    background-color:#111111;
    width: 100%;
    height: 120px;
}  */


/*Fim Global*/

/*Navegação do menu do site */

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    
}

.nav ul {
    margin: 0;
    width: 100%;
    margin-top: 15px;
    
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 150%;
    text-transform: uppercase;
     
}

.nav a:hover {
    font-weight: bold;
} 

.nav li {
    display: inline-block;
    color: white;
    padding: 20px;
    padding: 30px 30px 0 30px;
  }

.header .nav .menu_atual a {
    color: #5E17EB;
}

/*fim da navegação*/

/* PRIMEIRA TELA DO INDEX(INICIAL) */
.showcase {
    width: 100%;
    height: 632px;
    color: yellow;
    text-align: center;
}

.showcase .container {
    padding-top: 320px;
    margin-left: 100px;
}


/*segunda tela do index*/
.showcase_2 {
    width: 100%;
    height: 632px;
    color: yellow;
    text-align: center;
}

.showcase_2 .container {
    padding-top: 320px;
    margin-left: 100px;
}


/* PRIMEIRA TELA DO SOBRE */
.showcase_sobre {
    width: 100%;
    height: 632px;
    color: yellow;
    text-align: center;
}

.showcase_sobre .container {
    padding-top: 320px;
    margin-left: 100px;
}

/* SEGUNDA TELA DO SOBRE */
.showcase_sobre_2 {
    width: 100%;
    height: 632px;
    color: yellow;
    text-align: center;
}

.showcase_sobre_2 .container {
    padding-top: 320px;
    margin-left: 100px;
}





/* FOOTER */

.footer {
    background-color: #5E17EB;
    text-align: center;
    margin-top: 550px;
    height: 100px;
}

.footer h4 {
    color: yellow;
    font-weight: 100;
    margin: 0;
    padding-top: 40px;
}
